/* Reset */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 100;
  font-display: swap;
  src: url(/assets/fonts/Poppins-Thin.woff2) format('woff2');
  unicode-range:
    U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC,
    U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF,
    U+FFFD;
}
@font-face {
  font-family: 'Poppins';
  font-style: italic;
  font-weight: 100;
  font-display: swap;
  src: url(/assets/fonts/Poppins-ThinItalic.woff2) format('woff2');
  unicode-range:
    U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC,
    U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF,
    U+FFFD;
}
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 200;
  font-display: swap;
  src: url(/assets/fonts/Poppins-ExtraLight.woff2) format('woff2');
  unicode-range:
    U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC,
    U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF,
    U+FFFD;
}
@font-face {
  font-family: 'Poppins';
  font-style: italic;
  font-weight: 200;
  font-display: swap;
  src: url(/assets/fonts/Poppins-ExtraLightItalic.woff2) format('woff2');
  unicode-range:
    U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC,
    U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF,
    U+FFFD;
}
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(/assets/fonts/Poppins-Light.woff2) format('woff2');
  unicode-range:
    U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC,
    U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF,
    U+FFFD;
}
@font-face {
  font-family: 'Poppins';
  font-style: italic;
  font-weight: 300;
  font-display: swap;
  src: url(/assets/fonts/Poppins-LightItalic.woff2) format('woff2');
  unicode-range:
    U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC,
    U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF,
    U+FFFD;
}
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(/assets/fonts/Poppins-Regular.woff2) format('woff2');
  unicode-range:
    U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC,
    U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF,
    U+FFFD;
}
@font-face {
  font-family: 'Poppins';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url(/assets/fonts/Poppins-Italic.woff2) format('woff2');
  unicode-range:
    U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC,
    U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF,
    U+FFFD;
}
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(/assets/fonts/Poppins-Medium.woff2) format('woff2');
  unicode-range:
    U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC,
    U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF,
    U+FFFD;
}
@font-face {
  font-family: 'Poppins';
  font-style: italic;
  font-weight: 500;
  font-display: swap;
  src: url(/assets/fonts/Poppins-MediumItalic.woff2) format('woff2');
  unicode-range:
    U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC,
    U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF,
    U+FFFD;
}
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(/assets/fonts/Poppins-SemiBold.woff2) format('woff2');
  unicode-range:
    U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC,
    U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF,
    U+FFFD;
}
@font-face {
  font-family: 'Poppins';
  font-style: italic;
  font-weight: 600;
  font-display: swap;
  src: url(/assets/fonts/Poppins-SemiBoldItalic.woff2) format('woff2');
  unicode-range:
    U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC,
    U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF,
    U+FFFD;
}
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(/assets/fonts/Poppins-Bold.woff2) format('woff2');
  unicode-range:
    U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC,
    U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF,
    U+FFFD;
}
@font-face {
  font-family: 'Poppins';
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: url(/assets/fonts/Poppins-BoldItalic.woff2) format('woff2');
  unicode-range:
    U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC,
    U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF,
    U+FFFD;
}
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url(/assets/fonts/Poppins-ExtraBold.woff2) format('woff2');
  unicode-range:
    U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC,
    U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF,
    U+FFFD;
}
@font-face {
  font-family: 'Poppins';
  font-style: italic;
  font-weight: 800;
  font-display: swap;
  src: url(/assets/fonts/Poppins-ExtraBoldItalic.woff2) format('woff2');
  unicode-range:
    U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC,
    U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF,
    U+FFFD;
}
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url(/assets/fonts/Poppins-Black.woff2) format('woff2');
  unicode-range:
    U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC,
    U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF,
    U+FFFD;
}
@font-face {
  font-family: 'Poppins';
  font-style: italic;
  font-weight: 900;
  font-display: swap;
  src: url(/assets/fonts/Poppins-BlackItalic.woff2) format('woff2');
  unicode-range:
    U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC,
    U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF,
    U+FFFD;
}

:root {
  /* OKLCH is used for its perceptual uniformity, making it easier to create consistent and accessible color scales. */
  --primary-900: oklch(26.7% 0.04 52.07);
  --primary-800: oklch(31.58% 0.05 51.33);
  --primary-700: oklch(37.37% 0.061 52.07);
  --primary-600: oklch(44.18% 0.076 51.06);
  --primary-500: oklch(47.11% 0.081 51.45);
  --primary-400: oklch(58.24% 0.063 53.13);
  --primary-300: oklch(65.21% 0.051 54.08);
  --primary-200: oklch(76.36% 0.033 53.36);
  --primary-100: oklch(84.23% 0.022 56.08);
  --primary-50: oklch(94.91% 0.007 53.44);

  --secondary-900: oklch(47.22% 0.081 93.06);
  --secondary-800: oklch(57.16% 0.099 93.02);
  --secondary-700: oklch(68.98% 0.122 93.29);
  --secondary-600: oklch(82.92% 0.148 93.07);
  --secondary-500: oklch(88.93% 0.159 92.85);
  --secondary-400: oklch(90.85% 0.137 93.83);
  --secondary-300: oklch(92.12% 0.12 94.12);
  --secondary-200: oklch(94.53% 0.086 94.68);
  --secondary-100: oklch(96.25% 0.059 94.85);
  --secondary-50: oklch(98.74% 0.019 93.66);

  --gray-900: oklch(20.46% 0 0);
  --gray-800: oklch(32.11% 0 0);
  --gray-700: oklch(56.93% 0 0);
  --gray-600: oklch(68.3% 0 0);
  --gray-500: oklch(79.21% 0 0);
  --gray-400: oklch(84.52% 0 0);
  --gray-300: oklch(89.75% 0 0);
  --gray-200: oklch(94.91% 0 0);
  --gray-100: oklch(95.81% 0 0);
  --gray-50: oklch(97.31% 0 0);

  --success-900: oklch(21.02% 0.06 144.62);
  --success-800: oklch(31.45% 0.096 143.73);
  --success-700: oklch(41.35% 0.132 143.24);
  --success-600: oklch(50.42% 0.163 143.16);
  --success-500: oklch(59.37% 0.193 143.1);
  --success-400: oklch(66.22% 0.174 144.3);
  --success-300: oklch(74.18% 0.137 145.33);
  --success-200: oklch(82.46% 0.091 146.54);
  --success-100: oklch(91.26% 0.046 147.17);
  --success-50: oklch(96.33% 0.025 333.73);

  --warning-900: oklch(24.93% 0.056 65.91);
  --warning-800: oklch(38.6% 0.091 60.02);
  --warning-700: oklch(51.33% 0.122 58.58);
  --warning-600: oklch(63.14% 0.152 57.26);
  --warning-500: oklch(74.42% 0.181 56.46);
  --warning-400: oklch(78.56% 0.161 64.14);
  --warning-300: oklch(83.32% 0.129 68.39);
  --warning-200: oklch(88.39% 0.088 69.59);
  --warning-100: oklch(94.05% 0.044 70.53);
  --warning-50: oklch(97.01% 0.022 69.79);

  --error-900: oklch(21.64% 0.053 22.53);
  --error-800: oklch(32.84% 0.094 23.86);
  --error-700: oklch(42.91% 0.131 24.51);
  --error-600: oklch(52.74% 0.165 24.79);
  --error-500: oklch(62.13% 0.197 24.97);
  --error-400: oklch(67.97% 0.159 22.23);
  --error-300: oklch(75.06% 0.117 20.19);
  --error-200: oklch(83.21% 0.075 18.78);
  --error-100: oklch(91.49% 0.036 17.82);
  --error-50: oklch(95.57% 0.017 17.46);

  --white: oklch(100% 0 0);
  --black: oklch(0% 0 0);

  --primary-color: var(--primary-500);
  --secondary-color: var(--secondary-500);
  --success-color: var(--success-500);
  --warning-color: var(--warning-500);
  --error-color: var(--error-500);
  --text-color: var(--primary-900);
  --bg-color: var(--white);

  --font-family:
    'Poppins', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
    Arial, sans-serif;
  --font-size: 1rem; /* Default 16px */
}

body {
  display: block;
  min-height: 100vh;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: var(--font-size);
  line-height: 1.5;
  color: var(--text-color);
  background-color: var(--bg-color);
  background-image: url('/assets/images/background.svg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

main {
  max-width: 1200px;
  margin: 0 auto;
  padding: 2rem;
}

header,
footer {
  padding: 1rem 2rem;
}

/* Fonts */
.display-01 {
  font-weight: 600;
  font-size: 5rem;
  line-height: 1.1;
  letter-spacing: -0.02em;
}
.display-02 {
  font-weight: 600;
  font-size: 4.5rem;
  line-height: 1.11;
  letter-spacing: -0.018em;
}
.heading-01 {
  font-weight: 600;
  font-size: 3.5rem;
  line-height: 1.07;
  letter-spacing: -0.015em;
}
.heading-02 {
  font-weight: 600;
  font-size: 3rem;
  line-height: 1.17;
  letter-spacing: -0.015em;
}
.heading-03 {
  font-weight: 600;
  font-size: 2.5rem;
  line-height: 1.2;
  letter-spacing: -0.015em;
}
.heading-04 {
  font-weight: 600;
  font-size: 2.25rem;
  line-height: 1.22;
  letter-spacing: -0.015em;
}
.heading-05 {
  font-weight: 600;
  font-size: 2rem;
  line-height: 1.25;
  letter-spacing: -0.012em;
}
.heading-06 {
  font-weight: 600;
  font-size: 1.5rem;
  line-height: 1.33;
  letter-spacing: -0.012em;
}
.subheading-01 {
  font-weight: 500;
  font-size: 1.5rem;
  line-height: 1.33;
  letter-spacing: -0.012em;
}
.subheading-02 {
  font-weight: 500;
  font-size: 1.25rem;
  line-height: 1.4;
  letter-spacing: -0.015em;
}
.subheading-03 {
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.5;
  letter-spacing: -0.012em;
}
.subheading-04 {
  font-weight: 500;
  font-size: 0.875rem;
  line-height: 1.43;
  letter-spacing: -0.01em;
}
.btn-regular {
  font-weight: 600;
  font-size: 1.0625rem;
  line-height: 3.29;
  letter-spacing: 0;
}
.btn-small {
  font-weight: 600;
  font-size: 0.875rem;
  line-height: 3.14;
  letter-spacing: 0;
}
.caption-01 {
  font-weight: 400;
  font-size: 1rem;
  line-height: 1;
  letter-spacing: 0;
}
.caption-02 {
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1;
  letter-spacing: 0;
}
.caption-03 {
  font-weight: 400;
  font-size: 0.75rem;
  line-height: 1;
  letter-spacing: 0;
}
.body-xxl-300 {
  font-weight: 300;
  font-size: 1.5rem;
  line-height: 1.33;
  letter-spacing: 0;
}
.body-xxl-400 {
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 1.33;
  letter-spacing: 0;
}
.body-xl-300 {
  font-weight: 300;
  font-size: 1.25rem;
  line-height: 1.4;
  letter-spacing: 0;
}
.body-xl-400 {
  font-weight: 400;
  font-size: 1.25rem;
  line-height: 1.4;
  letter-spacing: 0;
}
.body-large-300 {
  font-weight: 300;
  font-size: 1.125rem;
  line-height: 1.44;
  letter-spacing: 0;
}
.body-large-400 {
  font-weight: 400;
  font-size: 1.125rem;
  line-height: 1.44;
  letter-spacing: 0;
}
.body-regular-300 {
  font-weight: 300;
  font-size: 1rem;
  line-height: 1.5;
  letter-spacing: 0;
}
.body-regular-400 {
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5;
  letter-spacing: 0;
}
.body-small-300 {
  font-weight: 300;
  font-size: 0.875rem;
  line-height: 1.43;
  letter-spacing: 0;
}
.body-small-400 {
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.43;
  letter-spacing: 0;
}
.body-tiny-300 {
  font-weight: 300;
  font-size: 0.75rem;
  line-height: 1.33;
  letter-spacing: 0;
}
.body-tiny-400 {
  font-weight: 400;
  font-size: 0.75rem;
  line-height: 1.33;
  letter-spacing: 0;
}

/* Layout */
.frame {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}
.web {
  max-width: 1440px;
}
.tab {
  max-width: 834px;
}
.mobile {
  max-width: 375px;
}
.grid {
  display: grid;
  grid-template-columns: repeat(12, [col-start] 1fr);
  column-width: 64px;
  gap: 32px;
  max-width: 1120px;
}

/* DEVELOPMENT */
.bg {
  background-color: #ccc;
}
.b1 {
  border: 1px solid red;
}
.bg1 {
  background-color: red;
}
.b2 {
  border: 1px solid green;
}
.bg2 {
  background-color: green;
}
